div.top-page {
  display: flex;
  padding: 5rem 0;
  justify-content: center;
}

img.top-page-icon {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

@media screen and (min-width: 960px) {
  img.top-page-icon {
    width: 25%;
    height: 25%;
    border-radius: 50%;
  }
}
