div.header {
  background-color: black;
  height: 10%;
  padding-bottom: 1%;

  .title {
    display: flex;
    margin: 0;
    color: white;
    font-size: 1rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    align-items: center;
    justify-content: flex-end;

    .icon {
      height: 2.5rem;
      border-radius: 50%;
      margin-right: 1rem;
    }
  }
}

ul.header-menu {
  list-style-type: none;
  color: white;
  text-align: center;
  padding: 0 0 2% 0;
  margin: 0 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  overflow-x: auto;
}

li.current-page {
  color: white;
  display: grid;
  font-size: 140%;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  &:before {
    content: ""; /*疑似要素の中身は空（記述は必須）*/
    position: absolute; /*子要素として疑似要素を固定*/
    left: 0; /*長さはテキストの両端まで*/
    right: 0; /*長さはテキストの両端まで*/
    bottom: -5px;  /*線の上下位置*/
    width: 100%; /*線の長さ*/
    height: 2px; /*線の太さ*/
    background-color: #9e9c9c; /*線の色*/
  }
}

li.header-item {
  @extend .current-page;
  &:before {
    transform: scale(0, 1); /*横方向に0状態から全体まで線を入れる*/
    transform-origin: center; /*中央を起点にアニメーション*/
    transition: transform .2s; /*アニメーションの時間*/
  }
  &:hover:before {
    transform: scaleX(1);
  }
}

span.header-text {
  color: white;
  &:link {
    color: white;
  }
  &:visited {
    color: white;
  }
}

a.link {
  text-decoration: none;
  color: #fff;
}
