div.work-card {
  display: flex;
  margin-top:2%;
  padding: 0 2%;
  background-color: #111;
  justify-content: baseline;
  flex-direction: column;
  flex-basis: 40%;
  min-width: 40%;
  animation: fadeIn 0.6s ease 0s 1 normal;
  transform-origin: top;
}

h3.work-title {
  display: flex;
  border-bottom: 1px solid #fff;
}

p.work-text {
  display: flex;
  word-wrap: normal;
  margin-top: 0;
}

@keyframes worksIn {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(100%);
  }
}
