.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-main {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

div.main {
  background-color: #111;
  width: auto;
  padding: 2% 10%;
  display: grid;
  animation: fadeIn 0.6s ease 0s 1 normal;
  transform-origin: top;
}

div.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.root {
  background-color: #282c34;
  min-height: 100vh;
}
